REDIS_URL=
DATABASE_URL=

REDIS_QUEUE_KEY=
ACCESS_TOKEN_TTL_SECONDS=
ACCESS_TOKEN_PREFIX=

WORKSPACE_EMAIL_QUEUE_KEY=astro:workspace:email:queue
WORKSPACE_ACCESS_TOKEN_PREFIX=astro:workspace:access:token:

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
